@font-face {
    font-family: 'NeueUniversLTStd';
    src: url('/assets/NeueUniversLTStd.woff2'); 
    font-style: normal;
    font-weight: 500;
}

body, html {
    font-family: "NeueUniversLTStd", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased; 
}

