a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    background: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

header{
    position: fixed !important;
    height: 0%;
    width: 100%;
    z-index: 9999; 
}

b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: currentColor;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 70%;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.35em;
    font-size: 0.75em;
}

svg {
    overflow: hidden;
}

input, button, submit { 
    border:none; } 

html {
    font-size: .7px
}

@media (min-width:200px) and (max-width:320px) {
    html {
        font-size: calc(1px + ((.7021875vw - .7px) * .102040816326531))
    }
}

@media (min-width:320px) and (max-width:768px) {
    html {
        font-size: calc(1px + ((.9521875vw - .7px) * .102040816326531))
    }
}

@media (min-width:768px) and (max-width:1023px) {
    html {
        font-size: calc(1px + ((.145024166666666667vw - .8px) * .752941176470588))
    }
}

@media (min-width:1023px) and (max-width:1240px) {
    html {
        font-size: calc(1px + ((.157751710654936vw - 1px) * .490647482014388))
    }
}

@media (min-width:1240px) and (max-width:1440px) {
    html {
        font-size: calc(1.1px + ((.127751710654936vw - 1px) * .490647482014388))
    }
}

@media (min-width:1440px) {
    html {
        font-size: calc(1.5px + ((.073333333333333vw - 1.2px) * .4))
    }
}

h1 {
    font-family: "freight-display-pro", Times New Roman, Times, serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.075em;
    font-size: 65em;
}

h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

h4 {
    font-family: Times New Roman, Times, serif;
    
    font-size: 40px;
    line-height: 1.4em;
    font-weight: 400;
}

h5 {
    font-family: Times New Roman, Times, serif;
    font-size: 100px;
    line-height: 1.1em;
    font-weight: 400;
}
.header-top{
    position: relative;
    left: 100px;
    width: 100%;
    top: 150px;
}

h6 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #999;
    font-weight: 400;
    font-size: 10em;
    line-height: 1.25;
}
 
/*Footer*/
 
.footer-section{
    top: 20vh;
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
    display: block;
    clear: left;
}

.footer-explore{
    font-weight: 700;
    line-height: 1.25;
    font-size: 11em;
    display: inline-block;
    position: relative;
    float: left;
    clear: left;
    width: 15%;
    left: calc(40%);
    color: #000;
    padding-right: 2.5%;
    padding-top: 10px;
}

.footer-header{
    font-family: "freight-display-pro", Times New Roman, Times, serif;
    font-style: italic;
    line-height: 1.1;
    display: inline-block;
    position: relative;
    float: left;
    clear: left;
    font-size: 55px;
    left: calc(40%);
    font-weight: 500;
    width: 600px;
    top: 50px;
    color: #111;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease; 
}    

.footer-content{
    line-height: 1.35;
    display: block;
    position: relative;
    float: left;
    clear: left;
    font-size: 11em;
    left: calc(50%);
    font-weight: 400;
    top: 15vh;
}

.bottom-footer{
    font-weight: 400;
    line-height: 1.25;
    left: 25px;
    width: 100%;
    margin-bottom: 10vh;
    margin-top: 72.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    float: left;
    min-height: 100px;
    transition: 1s .3s ease;
    -webkit-transition: 1s .3s ease;
    -moz-transition: 1s .3s ease; 
}

.bottom-footer-header {
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    position: relative;
    float: clear;
    width: 100px;
    color: #777;
    padding-right: 2.5%;
    left: 0%;
    padding-top: 10pt;
    opacity: 0;
    color: #111;
    -webkit-transform: translate(0%, 10vh);
    transform: translate(0%, 10vh); 
    -webkit-transition: .3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: .3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

.bottom-footer-header.open{
    opacity: 1;
    -webkit-transform: translate(0%,0vh);
    transform: translate(0%,0vh); 
    -webkit-transition: 1.3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: 1.3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 1.3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 1.3s   cubic-bezier(0.86, 0, 0.07, 1);
}

.bottom-footer-content{
    bottom: 40px;
    display: inline-block;
    position: fixed;
    float: left;
    font-size: 14px;
    left: 40px;
    width: 250px;
    opacity: 0;
    color: #999;
    -webkit-transform: translate(0%, 10vh);
    transform: translate(0%, 10vh); 
    -webkit-transition: .3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: .3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

.bottom-footer-content.open{
    opacity: 1;
    -webkit-transform: translate(0%,0vh);
    transform: translate(0%,0vh); 
    -webkit-transition: 1s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: 1s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 1s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 1s   cubic-bezier(0.86, 0, 0.07, 1);
}

.bottom-footer-credit{
    padding-top: 10pt;
    display: inline-block;
    position: relative;
    float: left;
    font-size: 9em;
    left: calc(35% - 170px);
    width: 15%;
    opacity: 0;
    color: #777;
    -webkit-transform: translate(0%, 10vh);
    transform: translate(0%, 10vh); 
    -webkit-transition: .3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: .3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: .3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

.bottom-footer-credit.open{
    opacity: 1;
    -webkit-transform: translate(0%,0vh);
    transform: translate(0%,0vh); 
    -webkit-transition: 1.3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: 1.3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 1.3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 1.3s   cubic-bezier(0.86, 0, 0.07, 1);
}

.anchor-class {
    cursor: pointer;
    opacity: 1;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;  
    }

.anchor-class:hover {
    opacity: .25;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;  
    }

.anchor-class2 {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000;
    border-width: 0 0 1px;
    opacity: 1;
    cursor: pointer;
    color: #222;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;  
    }

.anchor-class2:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;  
    }

.anchor-class3 {
    color: #111;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000;
    border-width: 0 0 1px;
    opacity: 1;
    cursor: pointer;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;  
    }

.anchor-class3:hover {
    opacity: 1;
    border: 0px solid #000;
    border-width: 0 0 0px;
    cursor: pointer;
    transition: 0s ease;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;  
    }

.introduction-header{
    position: fixed;
    top: 25px;
    display: block;
    color: #000;
    right: 15%;
    -webkit-transition: all 1s  ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    }  

.top-section{
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0%;
    top: 0%;
    display: block;
    clear: left;
    }

