@media  (max-width:768px) {
   .introduction-header{
    position: fixed;
    top: 200px;
    display: block;
    color: #000;
    right: 53%;
    -webkit-transform: translate(50%) rotate(-45deg);
    transform: translate(50%) rotate(-45deg);
    -webkit-transition: all 1s  ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    } 
h4 {
    font-family: Times New Roman, Times, serif;
    
    font-size: 35px;
    line-height: 1.4em;
    font-weight: 400;
}
    
.bottom-footer{
    font-weight: 400;
    line-height: 1.25;
    left: 25px;
    width: 100%;
    margin-bottom: 5px;
    bottom: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    float: left;
    min-height: 10px;
    transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1); 
    -webkit-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1); 
    -moz-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

.bottom-footer-content{
    padding-top: 0;
    display: inline-block;
    position: relative;
    float: left;
    font-size: 12px;
    left: 0px;
    width: 300px;
    opacity: 0;
/*    color: #111;*/
    -webkit-transform: translate(0%, 15vh);
    transform: translate(0%, 15vh); 
    -webkit-transition: 2.3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: 2.3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

.bottom-footer-content.open{
    opacity: 1;
    -webkit-transform: translate(0%,0vh);
    transform: translate(0%,0vh); 
    -webkit-transition: 2.3s  cubic-bezier(0.86, 0, 0.07, 1); 
    transition: 2.3s  cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 2.3s   cubic-bezier(0.86, 0, 0.07, 1); 
}

}


